<ion-content>
  <div class="container">
    <div class="form">
      <!-- Botones de navegación entre registro e inicio de sesión -->
      <div class="btn">
        <ion-button
          expand="block"
          fill="solid"
          class="signUpBtn"
          (click)="showSignUp()"
          [routerLink]="['/register']"
          routerLinkActive="active">
          REGISTER
        </ion-button>

        <ion-button
          expand="block"
          fill="solid"
          color="primary"
          class="login"
          (click)="showLogin()"
          [routerLink]="['/login']"
          routerLinkActive="active">
          LOG IN
        </ion-button>
      </div>

      <!-- Mostrar componentes según el estado -->
      <app-register *ngIf="showRegisterForm"></app-register>
      <app-login *ngIf="!showRegisterForm"></app-login>
    </div>
  </div>
</ion-content>
