<ion-content fullscreen class="custom-content">
  <div class="custom-container">
    <!-- Tarjeta de perfil -->
    <ion-card class="custom-card">
      <ion-card-header class="custom-card-header">
        <ion-card-title class="custom-card-title">{{ worker?.firstName }} {{ worker?.lastName }}</ion-card-title>
        <ion-card-subtitle class="custom-card-subtitle">{{ worker?.companyCode }}</ion-card-subtitle>
        <ion-card-subtitle class="custom-card-subtitle">{{ worker?.email }}</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content class="custom-card-content">
        @if (isOnShift()) {
        <div class="estado-turno on">EN TURNO</div>
        }@else {
        <div class="estado-turno off">FUERA DE TURNO</div>
        }
      </ion-card-content>
    </ion-card>

    <ion-button class="custom-button" (click)="startShift()">Iniciar turno</ion-button>

    <ion-popover #popover class="custom-popover">
      <ng-template>
        <ion-content class="ion-padding">¡Turno iniciado correctamente!</ion-content>
      </ng-template>
    </ion-popover>
  </div>
</ion-content>

<ion-footer class="logout-footer">
  <ion-toolbar>
    <ion-button expand="block" color="danger" (click)="logout()" class="logout-button">
      <ion-icon slot="start" name="log-out-outline"></ion-icon>
      Cerrar sesión
    </ion-button>
  </ion-toolbar>
</ion-footer>

<!-- <ion-item>
        <ion-toggle (ngModel)="paletteToggle" (ionChange)="toggleChange($event)" justify="space-between">Dark
          Mode</ion-toggle>
      </ion-item> -->
