/* Centrar todo el contenido del ion-content */
.custom-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ebad70;
  margin: 0;
}

.custom-container {
  position: absolute;
  top: 30%;
  left: 5%;
  background-color: #ffdebc;
  border-radius: 50px;
  box-shadow: 0 20px 10px rgba(228, 82, 82, 0.1);
  padding: 20px;
  box-sizing: border-box;
}

/* Estilos para la tarjeta */
.custom-card {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 50px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* Estilo para el encabezado de la tarjeta */
.custom-card-header {
  text-align: center;
  margin-bottom: 20px;
}

.custom-card-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.custom-card-subtitle {
  font-size: 14px;
  color: #777;
}

/* Estilo para el contenido de la tarjeta */
.custom-card-content {
  font-size: 16px;
  color: #555;
  text-align: center;
  margin-bottom: 20px;
}

/* Estilo para el botón */
.custom-button {
  width: 100%;
  color: white;
  font-weight: bold;
  padding: 12px 0;
  border-radius: 20px;
}

/* Efecto hover para el botón */
.custom-button:hover {
  background-color: #72a2d6;
}

/* Estilo para el popover */
.custom-popover {
  max-width: 300px;
  padding: 16px;
}

.custom-popover .ion-padding {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

/* Diseño responsivo */
@media (max-width: 600px) {
  .custom-container {
    max-width: 90%; /* En pantallas pequeñas, ocupa el 90% del ancho */
    padding: 15px;
  }
}
