<ion-content fullscreen class="custom-content">
  <div class="custom-container">
    <!-- Tarjeta de perfil -->
    <ion-card class="custom-card">
      <ion-card-header class="custom-card-header">
        <ion-card-title class="custom-card-title">NOMBRE:</ion-card-title>
        <ion-card-subtitle class="custom-card-subtitle">CODE:</ion-card-subtitle>
      </ion-card-header>

      <ion-card-content class="custom-card-content">
        AQUI IRÁ SI ESTÁ EN TURNO O NO
      </ion-card-content>
    </ion-card>

    <ion-button class="custom-button" (click)="startShift()">Iniciar turno</ion-button>

    <ion-popover #popover [isOpen]="isOpen" (didDismiss)="isOpen = false" class="custom-popover">
      <ng-template>
        <ion-content class="ion-padding">Hello World!</ion-content>
      </ng-template>
    </ion-popover>
  </div>
</ion-content>

      <!-- <ion-item>
        <ion-toggle (ngModel)="paletteToggle" (ionChange)="toggleChange($event)" justify="space-between">Dark
          Mode</ion-toggle>
      </ion-item> -->
