// src/theme/variables.scss

// Colores principales
:root {
  --ion-color-primary: #4a90e2; // Azul suave
  --ion-color-primary-rgb: 74, 144, 226;
  --ion-color-secondary: #50e3c2; // Verde agua
  --ion-color-secondary-rgb: 80, 227, 194;
  --ion-color-tertiary: #f5a623; // Naranja pastel
  --ion-color-tertiary-rgb: 245, 166, 35;
  --ion-color-success: #2dd36f;
  --ion-color-warning: #ffc409;
  --ion-color-danger: #eb445a;
  --ion-color-light: #f4f5f8; // Fondo claro
  --ion-color-medium: #92949c;
  --ion-color-dark: #222428;

  // Fondos
  --background: #ffffff;
  --background-login: #f9f9f9;

  // Texto
  --ion-text-color: #222428;
  --ion-text-color-step-600: #666666;
}
