<form class="signUp">
  <div class="formGroup">
    <input type="text" name="name" placeholder="User name" autocomplete="off"/>
  </div>
  <div class="formGroup">
    <input type="email" name="email" placeholder="Email" autocomplete="off"/>
  </div>
  <div class="formGroup">
    <input type="password" name="password" placeholder="Password" autocomplete="off"/>
  </div>
  <div class="formGroup">
    <input type="password" name="confirmPassword" placeholder="Confirm password" autocomplete="off"/>
  </div>
  <div class="checkBox">
    <input type="checkbox" id="checkbox" name="checkbox"/>
    <span class="text"> I agree with term & conditions</span>
  </div>

  <div class="formGroup">
    <button class="btn2">REGISTER</button>
  </div>
</form>
