<form class="login" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="formGroup">
    <input type="email" name="email" placeholder="Email" formControlName="email"/>
  </div>
  <div class="formGroup">
    <input type="password" name="password" placeholder="Password" formControlName="password"/>
  </div>

  <div class="formGroup">
    <button type="submit" class="btn2">LOGIN</button>
  </div>

  @if (hasError()) {
    <alert-error message="Email o contraseña inválido."/>
  }

</form>
