.register-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: #f4f5f8;
  padding: 16px; /* espacio lateral para pantallas peque침as */
  box-sizing: border-box;
}

/* Caja del formulario */
.register-box {
  width: 100%;
  max-width: 400px; /* puedes ajustar esto si quieres que sea m치s ancho */
  padding: 20px;
  border-radius: 12px;
  background: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}
ion-item {
  --inner-padding-end: 10px;
}

ion-label {
  font-size: 14px;
  padding-left: 12px;
  color: #333;
}

ion-input {
  --padding-start: 12px;
  --padding-end: 12px;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  --placeholder-color: #aaa;  /* Color del placeholder */
}

ion-input::placeholder {
  color: #aaa;
  font-size: 14px;
}

ion-item[disabled] {
  pointer-events: none;
}

.error-message {
  color: red;
  font-size: 0.9em;
  margin-top: 10px;
  text-align: center;
}

ion-button {
  margin-top: 20px;
}

ion-label[float] {
  font-size: 12px;  /* Ajustar tama침o de font del label cuando est치 flotando */
  color: #666;
}
