/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

 /* Variables estilos */


/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
@import "@ionic/angular/css/palettes/dark.class.css";
/* @import '@ionic/angular/css/palettes/dark.system.css'; */
//COMENTAMOS LA LÍNEA ANTERIOR Y PONEMOS ESTE BACKGROUND PARA HACER EL TEMA CLARO
:root {
  color-scheme: light;
  --ion-background-color: #ffffff;
  --ion-text-color: #222428;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para el modo claro (por defecto) */
body {
  --background: #f4f5f8;   /* Fondo claro */
  --color: #333;           /* Texto oscuro */
  --ion-background-color: #f4f5f8;
  --ion-text-color: #333;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.form{
  width: 350px;
  height: 550px;
  background-color: rgba(255,255,255,0.2);
  box-shadow: 0 5px 30px black ;
}

.btn button{
  padding: 3px;
  margin: 30px 0px 40px 30px;
  border-style: none;
  background-color: transparent;
  color: white;
  font-size: 18px;
  font-weight: 550;
  border-bottom: 2px solid transparent;
}

/* Cuando el botón esté activo */
.btn button.active {
  color: rgb(252, 111, 46); /* Naranja */
  border-bottom: 2px solid rgb(252, 111, 46); /* Línea naranja abajo */
}


.formGroup{
  display: flex;
  justify-content: center;
}

.formGroup input{
  border: none;
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: transparent;
  border-bottom: 2px solid white;
  font-size: 15;
  color: white;
}

::placeholder{
  color: rgba(255,255,255,0.4);
}

input:focus{
  outline: none;
  border-bottom: 2px solid rgb(252, 111, 46);
  font-size: 17px;
  font-weight: bold;
  color: white;
}

.checkBox{
  display: flex;
  justify-content: center;
  margin: 15px;
}

#checkbox{
  height: 15px;
  width: 15px;
  margin-right: 10px;
}

.text{
  color: whitesmoke;
  font-size: 13px;
}

.btn2{
  padding: 10px;
  outline: none;
  width: 150px;
  border-radius: 20px;
  border-style: none;
  background-color: rgb(252, 111, 46);
  color: whitesmoke;
  font-weight: 400;
}

.btn2:hover{
  background-color: rgb(252, 111, 46, 0.6);
}

.btn button:hover{
  border-bottom: 2px solid rgb(252, 111, 46);
  color: rgb(252, 111, 46);
}

.login{
  margin-top: 40px;
}

.login .checkBox{
  margin-top: 40px;
}

.alert-success {
  display: flex;
  align-items: center;
  background-color: #d1e7dd;
  border: 1px solid #badbcc;
  color: #0f5132;
  padding: 10px 16px;
  border-radius: 6px;
  font-family: sans-serif;
  font-size: 14px;
}

.alert-success .icon {
  margin-right: 10px;
}
